* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #edeef0;
    width: 100vw;
    overflow-x: hidden;
}

header {
    background-color: #4a76a8;
    height: 43px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .container {
    width: 50%;
    margin-left: 25%;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .container .search {
    display: flex;
    align-items: center;
}

header .container .search input {
    background-color: #224b7a;
    border: #224b7a;
    width: 220px;
    height: 27px;
    border-radius: 15px;
    z-index: 1;
    padding-left: 25px;

}

header .container .search svg {
    margin-right: -22px;
    z-index: 2;
}

header .container .search input:focus {
    background-color: white;
}

header .container .notis {
    margin-left: -160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

header .container .notis a {
    width: 20px;
    padding: 10px;
}

header .container .notis svg:hover {
    background-color: #224b7a;
}

header .container .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    margin-left: 80px;
}

header .container .profile :hover {
    background-color: #224b7a;
    cursor: pointer;
}

header .container .profile span {
    color: white;
    font-size: 15px;
}

header .container .profile img {
    border-radius: 50%;
    width: 28px;
}

main {
    margin-left: 29%;
    position: absolute;
    width: 50%;
    display: grid;
    grid-template-columns: 18% 25% auto;
    z-index: 0;
    margin-top: 50px;
}

main #menu ul {
    font-size: 13px;
    padding-inline-start: 0px;
    list-style: none;
}

main #menu ul li {
    padding: 4px;
    display: flex;
}

main #menu ul li img {
    margin-right: 10px;
}

main #menu ul li:hover {
    background-color: #e2e8ee;
    cursor: pointer;
}

main #menu ul img {
    width: 18px;
}

main #photo div {
    background-color: white;
    height: 280px;
    border-radius: 5px;
}

main #photo div #ava {
    padding: 15px;
}

main #photo div #buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    height: 40px;
    background-color: white;

}

main #photo div #redak {
    margin-left: 15px;
    width: 155px;
    height: 30px;
    background-color: #e2e8ee;
    margin-top: -30px;
    border-radius: 5px;
    border: none;
    color: #4a76a8;
}

main #photo div #redak:focus {
    background-color: #224b7a;
    color: white;
}

main #photo div #more:focus {
    background-color: #224b7a;
    color: white;
}


main #photo div #more {
    width: 36px;
    height: 30px;
    background-color: #e2e8ee;
    margin-top: -30px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
}

main #photo div #more img {
    margin-left: -5px;

}

main #info #information {
    margin-left: 10px;
    background-color: white;
    height: 230px;
    border-radius: 5px;
    padding: 15px;
}

main #info #information span {
    font-size: 20px;
    font-weight: 20px;
}

main #info #information p {
    font-size: 14px;
    font-weight: 20px;
    margin-top: -0px;
}

main #info #information table {
    font-size: 14px;
    font-weight: 20px;
    margin-top: -0px;
    color: #4a76a8;
}

main #info #information #numbers {
    font-size: 17px;
    font-style: unset;
    color: #09294d;
}

main #info #information #names {
    font-size: 15px;
    font-style: unset;
    color: gray;
}

main #info #information table #show:hover {
    background-color: #e2e8ee;
}

main #info #photos {
    margin-left: 10px;
    margin-top: 15px;
    background-color: white;
    height: 160px;
    border-radius: 5px;
    padding: 15px;
}

main #info #photos table {
    font-size: 13px;
}

main #photo #gifts {
    margin-top: 15px;
    background-color: white;
    height: 100px;
    border-radius: 5px;
    padding: 15px;
}

main #photo #friends {
    margin-top: 15px;
    background-color: white;
    height: 400px;
    border-radius: 5px;
    padding: 15px;
}

main #info #wallNew {
    margin-top: 15px;
    margin-left: 10px;
    background-color: white;
    height: 30px;
    border-radius: 5px;
    padding: 15px;
}

main #info #Posts {
    margin-top: 15px;
    margin-left: 10px;
    background-color: white;
    height: 700px;
    border-radius: 5px;
    padding: 15px;
}

main #photo #intresting {
    margin-top: 15px;
    background-color: white;
    height: 360px;
    border-radius: 5px;
    padding: 10px;
